* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(199, 225, 226);
}

.main__title {
    text-align: center;
    margin-top: 25px;
    color: cadetblue;
}

.main__btn-wrap {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 25px;
}

.main__btn {
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.main__btn:hover {
    background-color: #005f5f; 
}

.main__loader {
    display: none;
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: 0 auto;
    position: absolute;
    inset-area: center;
    top: 200px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* .main__images-container {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
} */

.main__images-container {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.post {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.post img {
    display: block;
    border-bottom: 5px solid cadetblue; 
    object-fit: cover;
    width: 100%;
    height: 250px;
}